* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.marker {
  width: max-content;
  height: 30px;
  background-color: white;
  border-radius: 15px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #229954;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  transform: translate(-15px, -27px);
}

.marker::after {
  border-color: white transparent;
  border-style: solid;
  border-width: 8px 6.5px 0 6px;
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  top: 27px;
  width: 0;
  z-index: 1;
}

.marker::before {
  border-color: #229954 transparent;
  border-style: solid;
  border-width: 8px 6.5px 0 6px;
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  top: 29px;

  width: 0;
  z-index: 0;
}

.marker_text {
  width: auto;
  height: auto;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 0px 8px;
}

.marker:hover {
  color: #229954;
}

.marker:active {
  color: #229954;
}

.iw_inner {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  color: #000;
  font-family: sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  width: max-content;
  border: 1.5px solid #229954;
  border-radius: 15px;
  transform: translate(-50%, -97%);
}

.iw_inner::after {
  border-color: white transparent;
  border-style: solid;
  border-width: 8px 6.5px 0 6px;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 99%;
  width: 0;
  z-index: 1;
}

.iw_inner::before {
  border-color: #229954 transparent;
  border-style: solid;
  border-width: 8px 6.5px 0 6px;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 100%;

  width: 0;
  z-index: 0;
}

.iw_header {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.iw_header_content {
  margin: 5px;
}

.iw_title {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  color: #229954;
  /* border: 1px solid #e6e6e6; */
}

.iw_category {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
  /* border: 1px solid #e6e6e6; */
}
